// Base theme template for reveal.js
/*********************************************
 * AccessibilityHelper Plugin
 *
 * MIT licensed
 *
 * 2014 Marcy Sutton, http://marcysutton.com
 *********************************************/
.reveal {
  .slides {
    &>section {
      &>.accessibilityWrapper,
      &>section>.accessibilityWrapper {
        display: none;
        visibility: hidden;
      }
      &.present > .accessibilityWrapper {
        display: block;
        visibility: visible;
        outline: none;
      }
      &> .accessibilityWrapper {
        outline: none;
      }
    }
    &.staticPage > section {
      display: block !important;
    }
  }

  #global-skip-link {
    display: block;
    font-size: 0.6em;
    left: -50000px;
    padding: 5px 10px;
    position: fixed;
    white-space: nowrap;
  }
  ul#table-of-contents {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
        font-size: 0.45em;
        left: -50000px;
        padding: 5px 10px;
        position: absolute;
        white-space: nowrap;
        transition: none;
      }
    }
  }
  .letter-icon {
    font-size: 150%;
  }
}
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%;
}
.strike {
  text-decoration: line-through;
}
.offscreen {
  display: block;
  left: -50000px;
  position: absolute;
}
.hidden {
  display: none;
}
.clear-after {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: black url("../../img/earth-at-night.jpg") no-repeat top center;
  background-size: cover;
  font-family: $mainFont, sans-serif;
}
.light-background body {
  background-image: url("../../img/earth-at-night-inverted.jpg");
}

.light-background .reveal {
  background-color: rgba(255, 255, 255, 0.7);
}
.reveal {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
	font-size: $mainFontSize;
	font-weight: 200;
	color: $mainColor;

  .title-slide & {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .light-background &,
  &.has-light-background {
    color: $darkColor;

    h1, h2, h3, h4, h5, h6,
    p, ul, ol {
      color: $darkColor;
      text-shadow: none; //1px 1px 10px #fff;
    }
    a {
      color: $altLinkColor;

      &:hover, &:focus {
        color: $darkColor;
      }
    }
  }
  iframe {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  }
  code {
    font-size: 110%;
    font-family: $codeFont, monospace;
  }

  figure.code pre {
    width: 100%;

    code {
      width: 100%;
    }
  }
  pre {
    code.hljs {
      background-color: inherit;
      color:inherit;
    }
    background-color: lighten($codeBackgroundColor, 15%);
    display: block;
    position: relative;
    width: 90%;
    margin: 15px auto;
    text-align: left;
    font-size: .6em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0 0 6px rgba(0,0,0,.3);

    &.smaller {
      font-size: .455em;
    }

    code, & > div {
      font-size: 1.5em;
      line-height: 1.45em;
      max-height: 640px;
      padding: 5px;
      overflow: auto;
      word-wrap: normal;

      &.small {
        font-size: 1.25em;
      }
      .green {
        color: lime;
      }
      .red {
        color: red;
      }
    }
  }
  .full-screen-code {
    pre {
      width: 100%;
    }
  }
  .text-background {
    padding: 1em 0;
  }
  .has-background {
    pre, code {
      background-color: transparent;
    }
    .text-background {
      background-color: rgba(0,0,0,0.75);
    }
  }
  [role=checkbox] {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1em;

    &:before {
      content: '\2610';
      display: inline-block;
      font-size: 2em;
      line-height: 1;
      vertical-align: middle;
    }
    &[aria-checked="true"]:before {
      content: '\2611';
    }
  }
  .showAttrs {
    font-size: 1.5em;
  }
  footer {
    bottom: 0px;
    left: 0;
    font-size: 55%;
    height: auto;
    position: fixed;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s;

    * {
      text-shadow: none;
    }

    .title-slide &,
    .hide-footer & {
      opacity: 0;
      visibility: hidden;
    }

    .copyright {
      display: inline-block;
      padding: 5px 15px;
      vertical-align: middle;
    }
    .footer-link {
      display: block;
      float: right;
      padding: 5px 15px;
      position: relative;
      z-index: 1;
    }
    [aria-hidden=true] {
      color: $secondaryColor;
      margin: 0 4px;
    }

    @media #{$mobile} {
      display: none;
    }
  }
}
::selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
}

.offscreen {
  display: block;
  left: -500000px;
  position: absolute;
}
.clear {
  clear: both;
  display: block;
}
/*********************************************
 * HEADERS
 *********************************************/
.reveal {
  h1, h2, h3, h4, h5, h6 {
    color: $headingColor;
  	font-family: $secondaryFont;
    line-height: 1.15;
  	letter-spacing: $headingLetterSpacing;
    margin: $headingMargin;
  	text-transform: $headingTextTransform;
    text-shadow: $paragraphTextShadow;
  }
  .snug {
    margin-bottom: 0;
    padding: 0;
  }
  .altHeadline {
    font-family: $mainFont;
    font-weight: 700;
  }
  section {
    p, small, ul, ol, div.large-tag, figcaption, blockquote, dd, dt {
      text-shadow: $paragraphTextShadow;
    }
  }
  p, small, ul, ol, div.large-tag, figcaption, blockquote, dd, dt {
    line-height: 1.5;
  }
  p {
    margin-bottom: 0.75em;
  }
  h1, h2.h1-style, h3.h1-style {
    font-size: 3.25em;
  }
  .h1-style.larger {
    font-size: 4em;
  }
  h2,
  h1.h2-style,
  h3.h2-style,
  p.h2-style {
    font-size: 2.5em;
  }
  h3,
  h2.h3-style,
  p.h3-style {
    font-size: 1.75em;
  }
  h4, h2.h4-style,
  h3.h4-style,
  p.h4-style {
    font-size: 1.45em;
    // font-weight: bold;
  }
  h2 strong,
  h3 strong {
    color: $linkColor;
  }
  .dark-color {
    color: $darkColor;
    text-shadow: none;
  }
  .larger {
    font-size: 120%;
  }
  .smaller {
    font-size: 70%;
  }
  small {
    font-size: 0.85em;
    letter-spacing: 0;
    text-transform: none;
  }
  em {
    font-style: italic;
    font-weight: 400;
  }
  .fancy {
    font-family: $secondaryFont;
    font-size: 2em;
  }
  blockquote {
    box-shadow: none;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-size: 1.4em;
    text-align: center;

    .blockquote-content {
      position: relative;
    }

    span.icon {
      &:before, &:after {
        font-size: 100px;
        position: absolute;
        speak: none;
      }

      &:before {
        content: '\201C';
        left: -60px;
        top: 0px;
      }
      &:after {
        bottom: 0;
        content: '\201D';
        right: 0px;
      }
    }

    cite {
      color: $darkColor;
      display: block;
      margin-top: 0.5em;
    }

    p {
      margin-bottom: 0.5em;
      padding: 0;
      width: 100%;
    }
    &.condensed p {
      line-height: 1.3;
    }
    &.large {
      font-size: 3em;
      margin-bottom: 0.75em;
    }
    span {
      display: block;
      font-size: 75%;
      text-align: right;
    }
    strong {
      // color: $linkColor;
      font-weight: normal;
      font-size: 115%;
    }
  }
  .left-align strong {
    display: inline-block;
    min-width: 0.75em;
    text-align: center;
  }
  .top-negative-header {
    position: absolute;
    top: -2em;
    width: 100%;
  }
  section {
    dl {
      background-color: lighten($codeBackgroundColor, 15%);
      font-size: 1em;
      max-height: 17em;
      margin: 0.5em auto 0;
      overflow: auto;
      text-align: left;
      width: 100%;

      dt {
        clear: both;
        float: left;
        padding: 0.75em 1.5em;
        text-align: right;
        width: 15%;
        word-wrap: break-word;
      }
      dd {
        clear: both;
        display: inline-block;
        padding: 0.75em 1.5em;
        width: 65%;
      }
      code {
        color: $tertiaryColor;
        span {
          color: $linkColor;
        }
      }
    }
    figure {
      margin: 0;
      padding: 0;
      position: relative;

      .code {
        margin-top: 0;
      }
      img {
        margin: 0;
      }
      .note {
        background-color: $mainColor;
        color: $white;
        font-style: italic;
        padding: 3px 5px;
        position: absolute;
      }
      figcaption {
        color: $mainColor;
        font-size: 1em;
        margin: 0;
        padding: 0.5em 0;
        text-align: center;
      }
    }
  }
  .left-align {
    text-align: left;

    p {
      margin-bottom: 0.75em;
    }
  }
  .big-italic {
    font-size: 1.5em;
    font-weight: normal;
    text-transform: none;

    &.smaller {
      font-size: 1.5em;
    }
    &.smallest {
      font-size: 1.15em;
    }
  }
  .big-stat {
    @extend .big-italic;
    display: block;
    font-size: 300%;
  }
  .large-tag-wrap {
    background-color: $darkColor;
    padding: 1em;
  }
  .large-tag {
    color: $tertiaryColor;
    font-family: $codeFont;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-left: 0;

    pre code {
      font-size: 1.25em;
    }
    a {
      color: $darkColor;
    }
  }
  .muted {
    color: $mutedColor;
  }
  ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;

    li {
      font-size: $paragraphFontSize;
      line-height: 1.25;
      margin-bottom: 0.25em;

      ul li {
        font-size: 1em;
      }
    }
    &.inline {
      li {
        display: inline-block;
      }
    }
    &.relative {
      position: relative;
      padding-bottom: 300px;

      .absolute {
        position: absolute;
        width: 100%;
      }
    }
    &.resources {
      list-style: none;

      li {
        margin-top: 0.75em;
        
        &.separated {
          margin-top: 1.5em;
        }
      }
    }
    &.left-aligned {
      list-style: disc;
      text-align: left;
    }
    &.checkboxes {
      li {
        list-style: none;
        line-height: 1.25em;
        margin-bottom: 0.5em;
        text-indent: -1.5em;

        &:before {
          content: '\2610';
          font-size: 1.5em;
          margin-right: 0.25em;
        }
        &.checked:before {
          content: '\2611';
        }
      }
    }
    &.spaced-list li {
      margin-bottom: 0.5em;
      margin-top: 0.75em;
    }
    &.normal-list li {
      letter-spacing: 0;
      margin-bottom: 0.25em;
    }
    &.smaller li {
      font-size: 1.5em;
      letter-spacing: 0;
      line-height: 1.5em;
      margin: 0;
    }
    &.smallest li {
      font-size: 0.75em;
      letter-spacing: 0;
    }
  }
}
/*********************************************
 * LINKS
 *********************************************/

.reveal {
  a, .highlight {
    outline: 2px solid transparent;
  	color: $linkColor;
    font-weight: bold;
  	text-decoration: none;
    transition: all .5s;
  }
  a:not(.image):hover,
  a:not(.image):focus,
  button:focus {
		color: $linkColorHover;
    outline: 2px dotted $mainColor;
	}

  .roll span:after {
  	color: $white;
  	background: darken( $linkColor, 15% );
  }
}
.light-background .reveal {
  a:not(.image):hover,
  a:not(.image):focus,
  button:focus {
    color: inherit;
    text-decoration: underline;
  }
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal {
  section img {
  	margin: 15px 0px;
  	background: rgba(255,255,255,0.12);
  	border: 4px solid $mainColor;

  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  	-webkit-transition: all .2s linear;
  	   -moz-transition: all .2s linear;
  	    -ms-transition: all .2s linear;
  	     -o-transition: all .2s linear;
  	        transition: all .2s linear;

    &.plain {
      background-color: transparent;
      border-width: 0;
      box-shadow: none;
      a & {
        &:hover, &:focus {
          background-color: rgba(207, 241, 16, 0.5);
        }
      }
      &.whiteBg {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 0.15em;
        margin: 0;
      }
    }
  }
	a:hover, a:focus {
    outline: none;

    img {
  		background: rgba(255,255,255,0.2);
  		border-color: $linkColor;

  		box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
    }
	}
  .textOverlay {
    text-align: left;

    &.center {
      text-align: center;
    }

    a {
      color: darken($linkColor, 20%);
      text-decoration: underline;

      &:hover, &:focus {
        color: $darkColor;
      }
    }
    &.marco {
      margin-top: -20%;
    }
  }
}

/*********************************************
 * TABLES
 *********************************************/
.reveal {
  table {
    font-size: 1.25em;
    line-height: 1;
    margin: 20px auto;
    width: 80%;

    tbody {
      th {
        background-color: transparent;
        text-align: left;
        width: 40%;
      }
      th + td {
        text-align: right;
      }
      tr {
        border-top: 1px solid rgba(0,0,0,0.12);
      }
    }

    th {
      background-color: rgba(0,0,0,0.12);
      padding: 0.5em;
      text-align: center;
    }
    td {
      padding: 0.5em;
    }
  }
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  bottom: 30px;
}
.reveal .controls button.navigate-left,
.reveal .controls button.navigate-left.enabled {
  border-right-color: $linkColor;
}

.reveal .controls button.navigate-right,
.reveal .controls button.navigate-right.enabled {
  border-left-color: $linkColor;
}

.reveal .controls button.navigate-up,
.reveal .controls button.navigate-up.enabled {
  border-bottom-color: $linkColor;
}

.reveal .controls button.navigate-down,
.reveal .controls button.navigate-down.enabled {
  border-top-color: $linkColor;
}

.reveal .controls button.navigate-left.enabled:hover {
  border-right-color: $linkColorHover;
}

.reveal .controls button.navigate-right.enabled:hover {
  border-left-color: $linkColorHover;
}

.reveal .controls button.navigate-up.enabled:hover {
  border-bottom-color: $linkColorHover;
}

.reveal .controls button.navigate-down.enabled:hover {
  border-top-color: $linkColorHover;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: transparentize($headingColor, 0.5);
  height: 10px;
}
	.reveal .progress span {
		background: transparentize($linkColor, 0.25);

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}

/*********************************************
 * LAYOUTS
 *********************************************/
.reveal .align-right {
  margin-bottom: 1em;
  text-align: right;
 }
.reveal .align-left {
  margin-bottom: 1em;
  text-align: left;
 }
.reveal li .twoThirdsCol {
  padding-top: 2%;

  small {
    clear: both;
    display: block;
    text-align: center;
  }
}
.reveal .wideCol {
  vertical-align: top;
  width: 60%;

  &.twoThirdsCol {
    float: left;
  }
}
.reveal .skinnyCol {
  vertical-align: top;
  width: 38%;

  &.twoThirdsCol {
    float: left;
    margin-right: 2%;
  }
}
.reveal .twoThirdsCol,
.reveal .halfCol {
   pre {
    font-size: .50em;
    margin-top: 0;
    width: 100%;
  }
}
.reveal .halfCol {
  display: inline-block;
  vertical-align: top;
  width: 48%;

  &.left {
    margin-right: 2%;
  }
}
/*********************************************
 * Slide Styles
 *********************************************/
.reveal {
  .layeredFragments {
    position: relative;

    .fragment {
      position: absolute; 
      top: 0; 
      text-align: center; 
      width: 100%;
    }
    img {
      min-height: 400px;
    }
  }
  .definition {
    margin: 0 auto;

    p {
      font-size: 0.85em;
      margin-bottom: 0;
    }
    pre code {
      font-size: 1.5em;
    }
  }
  .separator {
    background-color: $separatorColor;
    height: $separatorHeight;
    line-height: $separatorHeight;
    margin: 1em auto;

    hr {
      opacity: 0;
    }
  }
  .bottom-space {
    margin-bottom: 1em;
  }
  .inset-width-wider {
    margin: 1em auto 0;
    position: relative;
    width: 75%;
  }
  .inset-width {
    margin: 1em auto 0;
    position: relative;
    width: 70%;

    pre {
      margin-top: 0;
    }
  }
  .inset-width-smaller {
    margin: 1em auto 0;
    width: 55%;
  }
  .left-align {
    text-align: left;
  }
  .notes {
    p {
      color: $tertiaryColor;
      font-size: 2em;
      position: absolute;
    }
  }
  .drop-caps {
    text-align: left;

    li {
      &:first-letter {
        font-size: 130%;
        display: inline-block;
        margin-right: 0.05em;
      }
    }
  }
  p.byline {
    font-size: 1.25em;
    margin-bottom: 4%;
    a {
      color: $white;
    }
  }
  .image-headline {
    border: 4px solid $mainColor;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-width: 800px;
    margin: 0.5em auto 0;
    padding-top: 38%;
    position: relative;

    h2, h3 {
      bottom: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    &.black-caption {
      h3 {
        background-color: #000;
        margin: 0;
      }
    }
  }
}